.business_banner {
  width: 100%;
  height: 24rem;
  background: url('../image/ZH_business.png') no-repeat;
  background-size: 100% auto;
}
.base_title {
  width: 23rem;
  margin: 2.5rem auto;
  display: flex;
}
.base_title .line {
  flex: 1;
  border-top: 0.05rem solid #333333;
  margin-top: 1rem;
}
.title_text p{
  margin: 0;
  color: #333333;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}
.title_text .main_title {
  font-size: 1.5rem;
}
.title_text .subhead {
  font-size: 0.7rem;
}
.business_main {
  width: 50rem;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
  display: flex;
}
.show {
  display: block!important;
}
.container_main  {
  height: 100%;
  display: none;
}
.tab {
   margin-right: 1rem;
}
.tab_item {
  font-size: 0.7rem;
  line-height: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.tab_item i{
  font-size: 1rem;
  color: #FF0000;
  vertical-align: middle;
}
.rect {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 0.05rem solid #FF0000;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.rect_active {
  background: #FF0000;
}
.rect_active i{
  color: #fff;
}
.container_info {
  width: 37rem;
  float: left;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.container_info ul {
  margin: 0;
  padding: 0 2rem;
}
.info_title {
  float: right;
  margin: 0;
  width: 5rem;
  height: 8rem;
  border: 1px solid #FF0B0B;
  position: relative;
  right: 0;
  top: 2rem;
  font-size: 1rem;
}
.title_box {
  width: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: #fff;
  padding: 0.3rem 0;
}
.info_title_text {
  margin: 0;
  position: absolute;
  top: 5rem;
  font-size: 0.7rem;
  left: 1rem;
}
.title_box p {
  line-height: 1.4rem;
}
.maintitle {
  margin: 0;
  font-size: 1rem;
}
.subtitle {
  margin: 0;
  font-size: 0.7rem;
}
.info_title hr {
  width: 1rem;
  position: absolute;
  top: 6rem;
  left: 1rem;
  border-color: red;
}
.info_list {
  display: flex;
}
.info_list .info {
  padding: 0 2rem;
  flex: 1;
}
.info_list img {
 width: 21rem;
 height: 10rem;
 padding: 1rem;
}
.info_list1 {
  width: 42.5rem;
  display: flex;
  padding: 1.8rem 0.5rem;
  position: relative;
}
.info_list2 {
  padding-left: 1rem;
  position: relative;
}
.info_list2 .info{
  position: absolute;
  top: 10rem;
  left: 2rem;
}
.info_list2 p{
  width: 23.5rem;
  margin: 0 auto;
}
.border {
   box-shadow: 0 0.15rem 0.2rem 0 rgba(0,0,0,0.20);
}
.border1 {
  width: 28rem;
  height: 3.6rem;
  border-right: 0.05rem solid #999999;
  border-bottom: 0.05rem solid #999999;
  position: absolute;
  left: 50%;
  top: -0.5rem;
  margin-left: -13rem;
}
.border2 {
  width: 28rem;
  height: 2rem;
  border-right: 0.05rem solid #999999;
  border-top: 0.05rem solid #999999;
  position: absolute;
  left: 50%;
  top: 3rem;
  margin-left: -14rem;
}
.border3 {
  width: 28rem;
  height: 3.6rem;
  border-top: 0.05rem solid #999999;
  position: absolute;
  left: 0;
  top: 0;
}
.border4 {
  width: 28rem;
  height: 3.6rem;
  border-left: 0.05rem solid #999999;
  position: absolute;
  left: 5rem;
  top: -1.5rem;
}
.border5 {
  width: 73%;
  height: 5.6rem;
  border-right: 0.05rem solid #999999;
  border-top: 0.05rem solid #999999;
  position: absolute;
  top: 0;
}
.border6 {
  width: 40%;
  height: 3.3rem;
  border-right: 0.05rem solid #999999;
  border-left: 0.05rem solid #999999;
  border-bottom: 0.05rem solid #999999;
  position: absolute;
  bottom: 0;
  right: 5rem;
}
.border7 {
  width: 4%;
  height: 2.3rem;
  border-left: 0.05rem solid #999999;
  border-bottom: 0.05rem solid #999999;
  position: absolute;
  top: 0;
  left: 5rem;
}
.info_list1 .img {
  width: 8.5rem;
  height: 8.5rem;
  border: 1px solid #999999;
  text-align: center;
}
.info_list1 .img span{
  width: 0;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.info_list1 .img img {
  vertical-align: middle;
}
.img_center {
  text-align: center;
}
.img_center span {
  width: 0%;
  height: 100;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.info_list2 .img_center img{
  width: 20rem;
  vertical-align: middle;
}
.min_img {
  width: 9rem;
  position: absolute;
  top: 6rem;
  right: 2rem;
}
.info_list1 .info1 {
  flex: 1;
}
.padding-left {
  padding-left: 1.4rem;
}
.padding-left10 {
  padding-left: 10rem;
}
.padding-right {
  padding-right: 1.4rem;
}
.padding-top {
  padding-top: 2rem;
}
.info_list1 h3 {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}
.info_list1 ol {
  margin: 0;
  padding-left: 1rem;
}
.info_list1 ol li{
  color: #333333;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
@media (min-width: 1024px) {
  .business_banner {
    height: 13rem;
  }
}

@media (min-width: 1100px) {
  .business_banner {
    height: 15rem;
  }
}
@media (min-width: 1280px) {
  .business_banner {
  height: 16rem;
  }
}

@media (min-width: 1366px) {
  .business_banner {
    height: 17rem;
  }
}

@media (min-width: 1440px) {
  .business_banner {
    height: 18rem;
  }
}

@media (min-width: 1680px) {
  .business_banner {
    height: 21rem;
  }
}
@media (min-width: 1920px) {
  .business_banner {
    height: 24rem;
  }
}
